{% extends 'base_home.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="h-96 flex items-center w-full justify-center">
   Saluuuuuuuuuuuuuuuuuuuuuut
</div>
{% endblock %}
